@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto&display=swap');

$header-font:'Roboto', sans-serif;
$body-font:  'PT Sans', sans-serif;

header {
    font-family: $header-font;
    
}

main {
   font-family: $body-font;
}

