@import 'partials/base';

nav {
    display: flex;
    justify-content: space-around;
}


.hero {
   display: flex;
   justify-content: center;
   align-items: center;
    
}

.hero-content{ 
    display: flex;
    flex-direction: column;


}

.sidebar {
    background-color: white;


}


@media only screen and (min-width: 1024px) {

    .hero-content {
        h1 {
            font-size: 4em;

        }
    }

    .main-container {
        display: flex;
        
    }

    .post {
        width: 50%;

    }

    .sidebar {
        width: 50%;

    }

    .mixed-layout {
        display: flex;
    }

    .first {
        width: 50%;

    }
    .second {
        width: 50%;
        display: flex;
        flex-flow: column wrap;
    }
}

