@import './vendor/normalize';
@import './partials/colors';
@import './partials/typography';
@import './partials/mixin';
header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
h1 {
padding-top: 30px;
font-size: 1rem;
}
    nav{ 
        ul {
            display: flex;
            li {
                list-style: none;
                padding-top: 25px;
                padding-left: 15px;
                a {
                    text-decoration: none;
                    
                }
            }
        }
    }
}

main {
    text-align: center;
    min-height: 100px;
    width: 100%;

    .card {
        margin: auto;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        @include border-radius();
      }
      
      /* Add rounded corners to the top left and the top right corner of the image */
      img {
        border-radius: 5px 5px 0 0;
      }
}

